.venv/
.vscode/
htmlcov/
**/__pycache__/
/models/
/outputs/
/datasets/
.coverage
.directory
*.egg-info
iartisanxl.log
build/
dist/
pip_cache/
python/
python_packages/
installer/resources/
installer/
wheels/
wheel/
tmp/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.env
.env.*
.pytest_cache/
.ipynb_checkpoints/
/docs/
uv.lock